.a {
border:1px solid black;
background-color:grey;
display: block;
height:75px;
width:100%;
}

.b{
    background-color:grey;
    border:1px solid;
    display:block;
    height:150px;
    width:100%;
}

.c {
    background-color:grey;
    border:1px solid;
    display:block;
    height:125px;
    width:100%;
}

.d{
    background-color:grey;
    border:1px solid;
    display:block;
    height:125px;
    width:100%; 
}

.e{
    background-color:grey;
    border:1px solid;
    display:block;
    height:250px;
    width:49%;
}

.f{
    background-color:grey;
    border:1px solid;
    display:block;
    height:250px;
    width:49%;
}
.g{
    background-color:grey;
    border:1px solid;
    display:block;
    height:250px;
    width:100%;
}
.f{
    background-color:grey;
    border:1px solid;
    display:block;
    height:250px;
    width:240%;
}
.g{
    background-color:grey;
    border:1px solid;
    display:block;
    height:250px;
    width:240px;
}
.h{
    background-color:grey;
    border:1px solid;
    display:block;
    height:250px;
    width:240px;
}
footer{
    background-color:grey;
    border:1px solid;
    display:block;
    height:80px;
    width:480;
}


